
.container { 
    display: flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.form-section {
  width: 20%;
  background: #c1938b;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
   
}

.full-width {
    width: 100%;
    height: 6%;
  
}
  
.button {
    display: flex;
    justify-content: center;
}
  
.button button {
    width: 100%;
    border-radius: 8px;
    background-color: #834841;
}

.table-section {
    flex: 2;
    margin-left: 30px;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #834841;
    text-align: center;
    color: #ddd;
    font-weight: bold;
}

.input-update{
  border-radius: 8px;
  border: none;
  height: 20px;
  width: 100%;
}

.navegacion2 {
    display: flex; /* Utiliza flexbox para los botones de navegación */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
  }
  
  button[mat-mini-fab], button[mat-icon-button] {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    box-shadow: none; /* Sin sombra */
    transition: transform 0.3s; /* Transición suave para el efecto hover */
  }
  
  button[mat-mini-fab]:hover, button[mat-icon-button]:hover {
    transform: scale(1.2); /* Aumento del tamaño al pasar el ratón */
  }
  
  button[mat-mini-fab]:active, button[mat-icon-button]:active {
    transform: scale(1.1); /* Reducción ligera al hacer clic */
  }

  cdk-virtual-scroll-viewport {
    height: 200px;
    overflow: auto; /* Asegura que el contenido se pueda desplazar */
  }

  /* Estilizar la barra de desplazamiento */
cdk-virtual-scroll-viewport::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento vertical */
    height: 8px; /* Altura de la barra de desplazamiento horizontal */
  }
  
  cdk-virtual-scroll-viewport::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track (canal) */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
    background: #888; /* Color de la manija (thumb) */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la manija (thumb) al pasar el ratón */
  }

  .search-container {
    display: flex;
    gap: 16px; /* Espacio entre los elementos */
    margin: 16px; /* Margen exterior del contenedor */
  }
  
  .date-field {
    flex: 1; /* Ocupa todo el espacio disponible */
  }
  
  .search-field {
    flex: 1; /* Ocupa todo el espacio disponible */
  }
  
  .mat-form-field-fill .mat-form-field-wrapper {
    background-color: #ffdfd5;;
    border-radius: 8px;
    border: 1px solid #ffdfd5;
    transition: all 0.3s ease;
  }
  
  .mat-form-field-fill .mat-form-field-wrapper:hover {
    background-color: #b2ebf2;
    border-color: #ffdfd5;
  }
  
  .mat-form-field-fill .mat-form-field-label {
    color: #ffdfd5;
  }
  
  .mat-form-field-fill .mat-icon {
    color: #ffdfd5;
  }
  