
<div class="container">
    <section class="menu-section">

        <a href="/customer">
          <button mat-fab color="primary" extended>
            <mat-icon>home</mat-icon>
            Customers
          </button>
        </a>

          <button mat-fab color="primary" extended>
            <mat-icon>home</mat-icon>
            Pays
          </button>

        <a href="/routine">
          <button mat-fab color="primary" extended>
              <mat-icon>home</mat-icon>
              Routines
            </button>
        </a>
          
    </section>

    <section class="imag-section">
        <div class="image-container">
          <img class="imag" src="assets/img/logo2.jpg" alt="Logo">
        </div>
    </section>
</div>
