
<div class="container">
    <section class="menu-section">

        <a href="/customer">
          <button mat-fab extended>
            <mat-icon>home</mat-icon>
            Customers
          </button>
        </a>

          <button mat-fab extended>
            <mat-icon>home</mat-icon>
            Pays
          </button>

          <button mat-fab extended>
            <mat-icon>home</mat-icon>
            Routines
          </button>
          
    </section>

    <section class="imag-section">
        <div class="image-container">
            <img class="imag" src="/src/assets/img/logo2.png" alt="Logo">
        </div>
    </section>
</div>
