<header>
  <nav  id="nav" class="navbar">
      <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Customer</a></li>
          <li><a href="#">Fee</a></li>
      </ul>
  </nav>
</header>
<div class="body">
  <router-outlet></router-outlet>
</div>
<footer>

  <ul class="footer">
      <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>

  <div class="copyrite">
      <i class="fa fa-copyright"></i>
      <h4>Gym - 2024</h4>
  </div>

</footer>