<div class="container">
  <section class="form-category">
    <form (ngSubmit)="createCategory()">

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="category.type" name="name" required>
        </mat-form-field>
    </p>  
      <div class="button full-width">
        <button mat-raised-button type="submit">Add</button>
      </div>
    </form>
  </section>
  <section>
    <div *ngFor="let category of categories" class="category">
      <div class="category-title">{{ category.type }}</div>
      <div class="carousel-wrapper">
        <button class="scroll-button scroll-button-left" (click)="scrollCarousel(category.idCategory!, 'left')">◀</button>
        <div class="routine-carousel" [id]="'routine-carousel-' + category.idCategory">
          <div *ngFor="let routine of category.routine" class="routine">
            <div class="routine-title">{{ routine.description }}</div>
            <div class="routine-details">
              <p>Day of Week: {{ routine.dayOfWeek }}</p>
              <p>Exercise Type: {{ routine.exerciseType }}</p>
              <p>Duration: {{ routine.duration }} minutes</p>
              <p>Intensity Level: {{ routine.intensityLevel }}</p>
            </div>
          </div>
        </div>
        <button class="scroll-button scroll-button-right" (click)="scrollCarousel(category.idCategory!, 'right')">▶</button>
      </div>
    </div>
  </section>
  </div>
  